      <link rel="stylesheet" type="text/css" href="css/index.css"/>
      <%- include('partials/nav'); -%>

      <div class="container-fluid d-flex">
        <div class="p-3 text-center" id="one">
            <h2>welcome</h2>
            <p>to</p>
            <span>im3ch</span>
            <hr class="mt-2 mb-3"/>
            <div class="para">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quos velit sed praesentium odit at
                 maioresm. Odio itaque, molestias debitis earum, 
                corporis aliquam aspernatur, ratione beatae molestiae magnam velit!
            </p>
            </div>
          
            <hr class="mt-2 mb-3"/>
            <div class="container features">
                <div>android</div>
                <div>ios</div>
                <span>get the app</span>
            </div>
            <div class="buttons">
                <div><button>signup</button></div>
                <div><button>login</button></div>
            </div>
            <div class="already">
              <h3>already have an account</h3>
              <button style="text-align:center; "class="">signin</button>
            </div>
      
        </div>
        <div class="p-3" id="two"></div>
        </div>


      
        <div class="container whole">
            <div class="row">
              <div class="col">
                   <img  src="./../images/logo.jpg" class="img-fluid" alt="Responsive image">
              </div>
              <div class="col">
                  <h1>loreaum ilisum</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti pariatur perspiciatis laudantium, 
                      asperiores magnam in. Consectetur laboriosam, rem molestiae reprehenderit doloribus, aliquid quidem illum culpa blanditiis,
                       facilis recusandae repellendus sunt?
                    </p>
              </div>
              <hr class="mt-2 mb-3"/>
              <div class="w-100"></div>
              <div class="col">
                <h1 >loreaum ilisum</h1>
                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti pariatur perspiciatis laudantium, 
                    asperiores magnam in. Consectetur laboriosam, rem molestiae reprehenderit doloribus, aliquid quidem illum culpa blanditiis,
                     facilis recusandae repellendus sunt?
                  </p>
              </div>
              <div class="col">
                   <img src="../images/logo.jpg" class="img-fluid" alt="Responsive image">
              </div>
              <hr class="mt-2 mb-3"/>

              <div class="w-100"></div>
              <div class="col">
                   <img src="../images/logo.jpg" class="img-fluid" alt="Responsive image">
              </div>
              <div class="col">
                <h1 >loreaum ilisum</h1>
                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti pariatur perspiciatis laudantium, 
                    asperiores magnam in. Consectetur laboriosam, rem molestiae reprehenderit doloribus, aliquid quidem illum culpa blanditiis,
                     facilis recusandae repellendus sunt?
                  </p>
              </div>
            </div>
          </div>

          <div class="container-fluid cultural">
              <h3 >our cultrual idea</h3>
              <div class="container-fluid cultural_1">
                  <div>
                    <div class="img">
                      <img src="./../images/photo1.png" alt="logo" />
                    </div>
                      <h3>driven</h3>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti pariatur perspiciatis laudantium, 
                        asperiores magnam in. Consectetur laboriosam, rem molestiae reprehenderit
                      </p>
                  </div>
                  <div>
                    <div class="img">
                      <img src="./../images/photo1.png" alt="logo" />
                    </div>
                    <h3>driven</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti pariatur perspiciatis laudantium, 
                      asperiores magnam in. Consectetur laboriosam, rem molestiae reprehenderit
                    </p>
                </div>
                <div>
                  <div class="img">
                    <img src="./../images/photo1.png" alt="logo" />
                  </div>
                    <h3 class=>driven</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti pariatur perspiciatis laudantium, 
                      asperiores magnam in. Consectetur laboriosam, rem molestiae reprehenderit
                    </p>
                </div>

              </div>
          </div>

          <div class="feedback">
              <h3>share your feedback</h3>
          <div>
            <button> click here</button> 
          </div>   
          </div>

          <div class="wholediv">
              <div class="first">
                <img src="./../images/photo2.jpg" alt="logo"/>
                <span>im3ch</span>
              </div>

              <div class="second">
                <button>android</button>
                <button>ios</button>
                <p>get the app</p>
              </div>

              <div class="third">
                <img src="./../images/logo.jpg" alt="logo"/>
                <img src="./../images/logo.jpg" alt="logo"/>
                <button>contactus</button>
              </div>
          
          </div>

          <div class="container-fluid " style="max-width: 500px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d924195.4013797354!2d66.55516602801953!3d25.198558581346678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb35b7f5bfd6e89%3A0xc463ba9517671d59!2sKarachi%20City%2C%20Sindh!5e0!3m2!1sen!2s!4v1620363087324!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    
  </body>
</html>