.full{
   
    width: 100vw;height:100vh;
    background-image: url('./../images/photo1.png');
    background-position: center;
    background-repeat: no-repeat;
    
    background-size: cover;
}
          
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-transform: capitalize;
    }

    .center input{
        width:540px;
        text-align: center;
        border-bottom: 2px soild white;
        border-width:0px;
        border:none;
        outline:none;
        padding:10px;
    }
    .center input:focus{
        border:none;
        outline: none;
    }
    input{
        border:none;
    }
    .welll{
        text-align: center;
    }